.a {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  
  .a-right {
    flex: 1;
    padding: 2rem;
  }
  
  .a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
  }
  
  .a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   
  .a-award-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
  
  .a-title {
    font-weight: 400;
  }
  
  .a-sub {
    margin: 20px 0px;
    font-size: 1.3rem;
  }
  
  .a-desc{
      font-weight: 300;
      line-height: 1.7rem;
      text-align: left;
      color: rgb(41, 39, 39);
      padding-right: 2rem;

      @media (min-width: 375px){
        justify-content: center;
        flex-direction: column;
        align-items: center;
        line-height: 1.7rem;
        padding: 0;

        @media (min-width: 768px){
          font-size: 1.5rem;
         }

        @media (min-width: 1024px){
         font-size: 1.3rem;
        }
      
      }
  }
  
  .a-award{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .a-award-texts{
      width: 70%;
  }
  
  .a-award-title{
      font-weight: bold;
      color: #555;
      margin-bottom: 10px;
  }
  
  @media screen and (max-width:480px) {
      .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
      }
  
      .a-left {
        width: 100%;
      }
  
      .a-card {
        height: 30vh;
      }
  
      .a-card.bg, .a-award {
        display: none;
      }
  
      .a-right{
        padding: 10px;
        width: 100%;
      }
  
  }